@keyframes CursorRingRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes CursorRingBig {
    0%{
        width: 82px;
        height: 82px;
    }
    100%{
        width: 110px;
        height: 110px;
    }
}

@keyframes CursorRingSmall {
    0%{
        width: 110px;
        height: 110px;
    }
    100%{
        width: 82px;
        height: 82px;
    }
}

*{
    cursor: none !important;
}

html{
    filter: brightness(2.5);
}

#cursorCanvas{
    pointer-events: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2147483647;

    filter: blur(2px);
    opacity: .6;
    background-color: black;
}

#cursorBox{
    filter: brightness(0.4);
    pointer-events: none;
    opacity: 0;

    position: fixed;
    z-index: 2147483647;

    display: flex;
    align-items: center;
    justify-content: center;
}

#cursorCenter, #cursorRing{
    position: absolute;
}

#cursorCenter img{
    width: 33px;
    height: 33px;
}

#cursorRing img{
    width: 82px;
    height: 82px;

    animation: CursorRingRotate 6s linear infinite;
}

/* 兼容性 */
#cursorRing img, #cursorCenter img{
    max-width: none !important;
}